section {
    padding: 100px 200px;
}


.Home {
    position: relative;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.Home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.Home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.Home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.Home .content img {
    width: 500px;
    position: absolute;
    top: 300px;
    right: 250px;
    filter: brightness(1.4);
    transition: 0.5s ease;
}

.Home .content img:hover {
    scale: 1.2;
}

.Home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.Home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    text-align: center;
    transition: 0.3s ease;
}

.Home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.Home .media-icons a:hover {
    transform: scale(1.3);
}

.popular-games {
    text-align: center;
}

/*search bar*/
.search-bar {
    text-align: center;
}

.search-bar h1 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
}

.search-bar .search-input {
    width: 50%;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}

.search-bar .search-btn {
    padding: 10px;
    border-radius: 20px;
    border: none;

}

.popular-games h2 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.popular-game {
    position: relative;
    width: 280px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    cursor: pointer;
}

.popular-game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s, filter 0.3s;
    border-radius: 5px;
}

.popular-game:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
}

.popular-game .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.popular-game:hover .overlay {
    opacity: 1;
}

.carousel-item {
    padding: 0 10px;
    /* Adjust padding as needed */
}

/*Screen Shots*/

.popular-screenshots {
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 2.3rem;

}

.screenshots {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screenshots img {
    transition: all 0.3s ease;
}

.screenshots img:hover {
    scale: 1.2;
}

.game-screenshots {
    position: relative;
    width: 800px;
    height: 350px;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.game-screenshots img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}