.platforms {
    display: flex;
    gap: 10px;
    border: 1px solid black;
}

.game-detail {
    text-align: center;
    color: #fff;
    background-color: transparent;
}

.game-detail h2 {
    color: #fff;
}

.game-detail p {
    width: 100%;
    padding: 10px;
    line-height: 20px;
}

.screenshot img {
    width: 650px;
    height: auto;
    border-radius: 10px;
}