.platforms {
    display: flex;
    gap: 10px;
    border: 1px solid black;
}

.game-detail {
    background-color: whitesmoke;
}

.screenshot img {
    width: 650px;
    height: auto;
    border-radius: 10px;
}